<div class="tab-pane fade in {{setHActive}}" id="HRTab" ng-controller="newHrRoleController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills nav-normal">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Company Structure</a>
                    <ul class="dropdown-menu">
                        <li><a href="#structInitCompany" data-toggle="tab">Initialise Company</a></li>
                        <li><a href="#structTreeView" data-toggle="tab">View Structure</a></li>
                        <li><a href="#structAddComponent" data-toggle="tab">Build Structure</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employees</a>
                    <ul class="dropdown-menu">
                        <li><a href="#empNew" data-toggle="tab">Add new</a></li>
                        <li><a href="#empView" data-toggle="tab" ng-click='fetchEmployees()'>View Employees</a></li>
                        <li><a href="#empAssignToPos" data-toggle="tab">Assign To Position</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Perspectives</a>
                    <ul class="dropdown-menu">
                        <li><a href="#perspNew" data-toggle="tab" ng-click='fetchPersps()'>Maintain Perspectives</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Strategy</a>
                    <ul class="dropdown-menu">
                        <li><a href="#visionNew" data-toggle="tab" ng-click='fetchCompanyVisions()'>Vision</a></li>
                        <li><a href="#missionNew" data-toggle="tab" ng-click='fetchCompanyMissions()'>Mission</a></li>
                        <li><a href="#goalNew" data-toggle="tab" ng-click='fetchCompanyGoals()'>Goals</a></li>
                        <li><a href="#valueNew" data-toggle="tab" ng-click='fetchCompanyValues()'>Values</a></li>
                        <li><a href="#objectiveNew" data-toggle="tab" ng-click='fetchCompanyObjectives()'>Objectives</a></li>                      
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfomance</a>
                    <ul class="dropdown-menu">
                        <li><a href="#indPerfomance" ng-click="getAllEmployees()" data-toggle="tab">Individual</a></li>
                        <li><a href="#secPerfomance" ng-click="getAllSections()" data-toggle="tab">Sectional</a></li>
                        <li><a href="#deptPerfomance" ng-click="getAllDepartments()" data-toggle="tab">Departmental</a></li>
                        <li><a href="#divPerfomance" ng-click="getAllDivisions()" data-toggle="tab">Division</a></li>
                        <li><a href="#compPerfomance" data-toggle="tab">Company</a></li>                      
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings</a>
                    <ul class="dropdown-menu">
                        <li><a href="#evalPeriodNew" data-toggle="tab" ng-click='fetchEvalPeriods()'>Evaluation periods</a></li>
                        <li><a href="#evalPeriodClose" data-toggle="tab" ng-click='fetchCEvalPeriods()'>Close evaluation periods</a></li>
                        <li><a href="#objPeriodNew" data-toggle="tab" ng-click='fetchObjPeriods()'>Objective periods</a></li>
                        <li><a href="#objPeriodClose" data-toggle="tab" ng-click='fetchCObjPeriods()'>Close objective periods</a></li>
                        <li><a href="#financialYrNew" data-toggle="tab" ng-click='fetchFinYears()'>Stategic periods</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-container">
                <div class="tab-content">
                    <!-- VIEW COMPANY STRUCTURE -->
                    <div class="tab-pane fade" id="structTreeView">
                        <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Company Hierarchy</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="tree"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- INITIALISE COMPANY -->
                    <div class="tab-pane fade in {{setHActive}}" id="structInitCompany">
                        <div class="col-sm-10 col-sm-offset-1 row-fluid">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Initialise Company</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <div ng-bind-html="hrInitCompMsg | trustHtml"></div>
                                    <div class="col-sm-12">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="structInitCompName" class="col-sm-3 control-label">Company Name:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="structInitCompName" placeholder="Enter Company Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="userNamePref" class="col-sm-3 control-label">Username Prefix:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="userNamePref" placeholder="Enter Username Prefix">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-3">
                                                    <button ng-disabled="!{{hideSaveInitCompany}}" type="button" class="btn btn-default btn-sm glyphicon glyphicon-save btn-success" ng-model="structInitCompNameSave" ng-click="initCompany()">&nbsp;Save</button>
                                                    <button ng-disabled="{{hideSaveInitCompany}}"type="button" class="btn btn-default btn-sm glyphicon glyphicon-save btn-primary" ng-model="structInitCompNameSave" ng-click="modifyInitCompany()">&nbsp;Modify</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ADD STRUCTURE COMPONENT -->
                    <div class="tab-pane fade" id="structAddComponent">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Structure Parameters</h4></div>
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <div ng-bind-html="hrAddCompMsg | trustHtml"></div>
                                    <div class="col-sm-12">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="parentObjid" class="col-sm-4 control-label">Under:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" ng-model="parentObjid">
                                                        <option ng-repeat="item in structPar" value="{{item._id}}">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">Name:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="name" placeholder="Component Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="structType" class="col-sm-4 control-label">Component Type:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" ng-model="structureType">
                                                        <option ng-repeat="item in structType" value="{{item.val}}">{{item.disp}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-block btn-success" ng-model="structCompoAddBtn" ng-click="addStructElement()">Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <div class="col-sm-12" ultimate-datatable="compStructDT">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ADD NEW EMPLOYEE -->
                    <div class="tab-pane fade container-fluid" id="empNew">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>New Employee</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <div ng-bind-html="hrEmpCompMsg | trustHtml"></div>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="newEmpFName" class="col-sm-4 control-label">First Name:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="newEmpFName" placeholder="Employee First Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="newEmpMName" class="col-sm-4 control-label">Middle Name:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="newEmpMName" placeholder="Employee Mid Name">
                                                </div>
                                            </div>
                                            <div class="form-group" id="obj560d45c62742985c0c8ceb48">
                                                <label for="newEmpLName" class="col-sm-4 control-label">Last Name:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="newEmpLName" placeholder="Employee Last Name">
                                                </div>
                                            </div>
                                            <div class="form-group" id="obj560d460c2742985c0c8ceb49">
                                                <label for="newEmpNatId" class="col-sm-4 control-label">National ID:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="newEmpNatId" placeholder="Employee ID">
                                                </div>
                                            </div>
                                            <div class="form-group" id="obj560d46492742985c0c8ceb4a">
                                                <label for="newEmpNum" class="col-sm-4 control-label">Employee Number:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="newEmpNum" placeholder="Employee Number">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="newEmpPos" class="col-sm-4 control-label">Position:</label>&nbsp;
                                                <div class="col-sm-8">
                                                    <select class="form-control" ng-model="newEmpPos">
                                                        <option ng-selected="[Select]" ng-disabled>[Select]</option>
                                                        <option ng-repeat="item in listOfPos" value="{{item.name}}">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="newEmpSup" class="col-sm-4 control-label">Supervisor:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" ng-model="newEmpSup">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="item in allMyEmployees" value="{{item._id}}">{{item.empName+"|"+item.position}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="obj560d47282742985c0c8ceb4c">
                                                <div class="col-sm-2 col-sm-offset-4">
                                                    <button type="button" class="btn glyphicon glyphicon-plus btn-success" ng-model="newEmpSaveBtn" ng-click="saveNewEmployee()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- VIEW EMPLOYEES -->
                    <div class="tab-pane fade container-fluid" id="empView">
                        <div class="col-sm-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <div class="col-sm-12" ultimate-datatable="compEmpsDT">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ASSIGN EMPLOYEE TO NEW POSITION -->
                    <div class="tab-pane fade" id="empAssignToPos"> </div>

                    <!-- ADD NEW PERSPECTIVE -->
                    <div class="tab-pane fade" id="perspNew">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>New Perspective</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="perspName" class="col-sm-4 control-label">Perspective Name:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="perspName" placeholder="Enter New Perspective">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="perspDescr" class="col-sm-4 control-label">Description:</label>
                                                <div class="col-sm-6">
                                                    <textarea type="text" class="form-control" ng-model="perspDescr" placeholder="Description"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-model="perspNameSaveBtn" ng-click="saveNewPerspective()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>List Of Perspectives</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="perspListDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="goalNew">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>New Goal</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateGoalErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createGoalError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createCGoalSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createGoalSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Goal Period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="perspDescr" class="col-sm-4 control-label">Goal Description</label>
                                                <div class="col-sm-8">
                                                    <textarea type="text" class="form-control" ng-model="companyGoal.name" placeholder="Goal"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="createNewGoal()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Company Goals</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchCGoalInfo">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchCGoalInfo}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="companyGoalsDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="visionNew">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>New Vision</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateVisionErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createVisionError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createVisionSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createVisionSuccessMsg}}<br></span>
                                        </div>

                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Vision Period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyVision.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="perspDescr" class="col-sm-4 control-label">Vision Description</label>
                                                <div class="col-sm-8">
                                                    <textarea type="text" class="form-control" ng-model="companyVision.name" placeholder="Vision"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="createNewVision()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Company Visions</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchVisionInfo">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchVisionInfo}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="companyVisionsDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="missionNew">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>New Mission</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateMissionErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createMissionError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createMissionSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createMissionSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Mission Period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyMission.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="perspDescr" class="col-sm-4 control-label">Mission Description</label>
                                                <div class="col-sm-8">
                                                    <textarea type="text" class="form-control" ng-model="companyMission.name" placeholder="Mission"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="createNewMission()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Company Missions</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchMissionInfo">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchMissionInfo}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="companyMissionsDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="valueNew">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>New Value</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateValueErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createValueError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createValueSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createValueSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Value Period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyValue.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="perspDescr" class="col-sm-4 control-label">Value Description</label>
                                                <div class="col-sm-8">
                                                    <textarea type="text" class="form-control" ng-model="companyValue.name" placeholder="Value"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="createNewValue()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Company Values</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchValuesInfo">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchValuesInfo}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="companyValuesDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="objectiveNew">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>New Objective</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateObjErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createObjError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createObjSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createObjSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Objective Period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyObjective.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Perspective</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyObjective.perspective">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="pers in listOfPersp">{{pers.perspName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="perspDescr" class="col-sm-4 control-label">Objective Description</label>
                                                <div class="col-sm-8">
                                                    <textarea type="text" class="form-control" ng-model="companyObjective.name" placeholder="Objective"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="createNewObjective()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Company Objectives</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchObjectivesInfo">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchObjectiveInfo}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="companyObjectivesDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="perspEdit"> </div>
                    <div class="tab-pane fade" id="perspRem"> </div>

                    <div class="tab-pane fade container-fluid" id="evalPeriodNew">
                        <div class="col-sm-6 row-fluid" id="obj560d42f315f84cd81604f991">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="obj560d42f315f84cd81604f992">
                                    <div class="panel-title">
                                        <h4>New Evaluation Period</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div ng-bind-html="hrEmpCompMsg | trustHtml"></div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateEvalPErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error:</strong><br><span>{{createEvalPError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createEvalPSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success:</strong><br><span>{{createEvalPMsg}}<br></span>
                                        </div>
                                        <br>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="newEmpFName" class="col-sm-2 control-label">Period name:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="evalPeriod.name" placeholder="Evaluation period Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="period" class="col-sm-2 control-label">Period:</label>
                                                <div class="col-sm-4">
                                                    <label for="dateFrom">From:</label>
                                                    <datepicker date-format="yyyy-MM-dd">
                                                       <input ng-model="evalPeriod.from" class="form-control" type="text"/>
                                                    </datepicker>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="dateTo">To:</label>
                                                    <datepicker date-format="yyyy-MM-dd">
                                                       <input ng-model="evalPeriod.to" class="form-control" type="text"/>
                                                    </datepicker>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2 col-sm-offset-2">
                                                    <button type="button" class="btn glyphicon glyphicon-plus btn-success" ng-click="createEvalPeriod()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <div class="col-sm-12" ultimate-datatable="evalPeriodsDT">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade container-fluid" id="evalPeriodClose">
                        <div class="col-sm-12 col-sm-offset-0 row-fluid" id="obj560d42f315f84cd81604f991">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="obj560d42f315f84cd81604f992">
                                    <div class="panel-title">
                                        <h4>Close Evaluation Period</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div ng-bind-html="hrEmpCompMsg | trustHtml"></div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateEvalPErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error:</strong><br><span>{{createEvalPError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createEvalPSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success:</strong><br><span>{{createEvalPMsg}}<br></span>
                                        </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="period">Period</label>
                                                <div class="col-sm-8">
                                                    <select id="objPeriodsDropdownMenu" class="form-control" role="menu" ng-model="evalPClosePeriod">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="evalPeriod in cEvalPeriods">{{evalPeriod.name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="period">Comment</label>
                                                <div class="col-sm-8">
                                                    <textarea rows="4" class="col-sm-12" name="rejectObj"  ng-model="evalPCloseComment">
                                                    </textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <div class="col-sm-2 col-sm-offset-2">
                                                    <button type="button" class="btn glyphicon glyphicon-plus btn-success" ng-click="closeObjPeriod()">&nbsp;Close</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade container-fluid" id="objPeriodNew">
                        <div class="col-sm-6 row-fluid" id="obj560d42f315f84cd81604f991">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="obj560d42f315f84cd81604f992">
                                    <div class="panel-title">
                                        <h4>New Objectives Period</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div ng-bind-html="hrEmpCompMsg | trustHtml"></div>
                                    <div class="col-sm-12">

                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateObjPErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error:</strong><span>{{createObjPError}}</span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createObjPSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success:</strong><span>{{createObjPMsg}}<br></span>
                                        </div>
                                        <br>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="newEmpFName" class="col-sm-2 control-label">Period name:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="objPeriod.name" placeholder="Objectives period Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="period" class="col-sm-2 control-label">Period:</label>
                                                <div class="col-sm-4">
                                                    <label for="dateFrom">From:</label>
                                                    <datepicker date-format="yyyy-MM-dd">
                                                       <input ng-model="objPeriod.from" class="form-control" type="text"/>
                                                    </datepicker>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="dateTo">To:</label>
                                                    <datepicker date-format="yyyy-MM-dd">
                                                       <input ng-model="objPeriod.to" class="form-control" type="text"/>
                                                    </datepicker>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2 col-sm-offset-2">
                                                    <button type="button" class="btn glyphicon glyphicon-plus btn-success" ng-click="createObjPeriod()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <div class="col-sm-12" ultimate-datatable="objPeriodsDT">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade container-fluid" id="financialYrNew">
                        <div class="col-sm-6 row-fluid" id="obj560d42f315f84cd81604f991">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="obj560d42f315f84cd81604f992">
                                    <div class="panel-title">
                                        <h4>New Strategic Period</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div ng-bind-html="hrEmpCompMsg | trustHtml"></div>
                                    <div class="col-sm-12">

                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateFinYrErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error:</strong><span>{{createFinYrError}}</span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createFinYrSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success:</strong><span>{{createFinYrMsg}}<br></span>
                                        </div>
                                        <br>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="newEmpFName" class="col-sm-2 control-label">Year name:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="finYear.name" placeholder="Financial Year Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="period" class="col-sm-2 control-label">Period:</label>
                                                <div class="col-sm-4">
                                                    <label for="dateFrom">From:</label>
                                                    <datepicker date-format="yyyy-MM-dd">
                                                       <input ng-model="finYear.from" class="form-control" type="text"/>
                                                    </datepicker>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="dateTo">To:</label>
                                                    <datepicker date-format="yyyy-MM-dd">
                                                       <input ng-model="finYear.to" class="form-control" type="text"/>
                                                    </datepicker>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2 col-sm-offset-2">
                                                    <button type="button" class="btn glyphicon glyphicon-plus btn-success" ng-click="createFinYear()">&nbsp;Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <div class="col-sm-12" ultimate-datatable="finYearsDT">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade container-fluid" id="objPeriodClose">
                        <div class="col-sm-12 col-sm-offset-0 row-fluid" id="obj560d42f315f84cd81604f991">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="obj560d42f315f84cd81604f992">
                                    <div class="panel-title">
                                        <h4>Close Objectives Period</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div ng-bind-html="hrEmpCompMsg | trustHtml"></div>
                                    <div class="col-sm-12">

                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateObjPErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error:</strong><br><span>{{closeObjPError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createObjPSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success:</strong><br><span>{{closeObjPMsg}}<br></span>
                                        </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="period">Period</label>
                                                <div class="col-sm-8">
                                                    <select id="objPeriodsDropdownMenu" class="form-control" role="menu" ng-model="objPClosePeriod">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="objPeriod in cObjPeriods">{{objPeriod.name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="period">Comment</label>
                                                <div class="col-sm-8">
                                                    <textarea rows="4" class="col-sm-12" name="rejectObj"  ng-model="objPCloseComment">
                                                    </textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <div class="col-sm-2 col-sm-offset-2">
                                                    <button type="button" class="btn glyphicon glyphicon-plus btn-success" ng-click="closeObjPeriod()">&nbsp;Close</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="indPerfomance">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Select parameters</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateGoalErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createGoalError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createCGoalSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createGoalSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Employee</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="emp in employees">{{emp.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Evaluation period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="searchIndPerfomance()">&nbsp;Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Employee score</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchIndScore">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchIndScore}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="individualPerformanceDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="secPerfomance">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Select parameters</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateGoalErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createGoalError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createCGoalSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createGoalSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Section</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="sec in sections">{{sec.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Evaluation period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="searchSecPerfomance()">&nbsp;Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Section score</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchSectionScore">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchSectionScore}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="individualPerformanceDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="deptPerfomance">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Select parameters</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateGoalErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createGoalError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createCGoalSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createGoalSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Department</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="dept in departments">{{dept.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Evaluation period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="searchDeptPerfomance()">&nbsp;Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Department score</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchDeptScore">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchDeptScore}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="individualPerformanceDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="divPerfomance">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Select parameters</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateGoalErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createGoalError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createCGoalSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createGoalSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Division</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="div in divisions">{{div.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Evaluation period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="searchDivPerfomance()">&nbsp;Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Division score</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchDivScore">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchDivScore}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="individualPerformanceDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="compPerfomance">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Select parameters</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <br>
                                        <div class="alert alert-danger alert-dismissable" ng-if="hasCreateGoalErrors">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Error : </strong><span>{{createGoalError}}<br></span>
                                        </div>

                                        <div class="alert alert-success alert-dismissable" ng-if="createCGoalSuccess">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Success : </strong><span>{{createGoalSuccessMsg}}<br></span>
                                        </div>


                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="period">Evaluation period</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" role="menu" ng-model="companyGoal.period">
                                                        <option ng-selected="[Select]">--Select--</option>
                                                        <option ng-repeat="finYear in allFinYears">{{finYear.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus btn-success" ng-click="searchIndividualPerfomance()">&nbsp;Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Company score</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="alert alert-warning alert-dismissable" ng-if="hsFetchCGoalInfo">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Info:</strong><span>{{fetchCGoalInfo}}<br></span>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-12" ultimate-datatable="individualPerformanceDT">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-heading">
            <a class="accordion-toggle btn btn-sm btn-primary" data-toggle="collapse" href="#collapseOne">
                <span class="glyphicon glyphicon-question-sign"></span>
                Help

            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
        <br>
            <div class="well">
                Help section pending
            </div>
        </div>
    </div>
</div>